.wrapper {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  height: 600px;
}

.cardWrapper {
    margin: 5px;
}

.grayDiv {
  display: block;
  text-align: center;
  background-color: #EFF1F3;
  border-radius: 5px;
}


.scroll {
  overflow: auto;
  height: 90%;
}
